		<!---start-wrap----->
			<!---start-header----->
			<div class="header" id="home">
				<div class="wrap">
				<div class="top-header">
					<div class="logo">
						<img src="assets/images/sku-logo-icon.png"/>
						<a href="index">SKU X LION</a>
					</div>
					<div class="top-nav">
						<ul>
							<li class="active"><a href="#home" class="scroll">Home</a></li>
							<li><a href="#services" class="scroll">About</a></li>
							<li><a href="#portfolio" class="scroll">Portfolio</a></li>
							<li><a href="#team" class="scroll">Member</a></li>
							<div class="clear"> </div>
						</ul>
					</div>
					<div class="clear"> </div>
				</div>
			<!---End-header----->
			<!----start-content-slider---->
			<div id="da-slider" class="da-slider">
					  <div id="intro" class="da-slide">
					    <div class="da-title">
					      <h3> the template<br />
					      	 is a awesome!</h3>
					    </div>
					    <div class="da-img">
					      <img src="assets/images/slider-pic1.png" alt="Drupal Powered" title="Presenting the Drupalien" />
					    </div>
					  </div>
					  <div id="user-experience" class="da-slide">
					   <div class="da-title">
					   <h3> the template<br />
					      	 is a awesome!</h3>
					    </div>
					     <div class="da-img">
					      <img src="assets/images/slider-pic2.png" alt="Drupal Powered" title="Presenting the Drupalien" />
					    </div>
					  </div>
					  <div id="design" class="da-slide">
					   <div class="da-title">
					    <h3> the template<br />
					      	 is a awesome!</h3>
					    </div>
					     <div class="da-img">
					      <img src="assets/images/slider-pic3.png" alt="Drupal Powered" title="Presenting the Drupalien" />
					    </div>
					  </div>
					  <div>
					  </div>
					</div>
					<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
					<script src="assets/js/jquery.cslider.js"></script>
					<script>
					//jQuery(document).ready(function() {
					$('#da-slider').cslider({
					  autoplay : true,
					  interval: 3000,
					  bgincrement : 10
					});
					//});
					</script>
		<!----start-content-slider---->
			</div>
		</div>
		<!---End-header----->
		<!---start-content---->
		<div class="content">
			<div class="wrap">
			<!---start-top-grids---->
				<div class="top-service-grids" id="services">
					<div class="top-service-grid">
						<a href="#"><img src="assets/images/top-grid-pic1.png" alt="" /></a>
						<a href="#"><span>HTML & css</span></a>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporUt enim ad minim veniam</p>
					</div>
					<div class="top-service-grid">
						<a href="#"><img src="assets/images/top-grid-pic2.png" alt="" /></a>
						<a href="#"><span>bootstrap</span></a>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporUt enim ad minim veniam</p>
					</div>
					<div class="top-service-grid">
						<a href="#"><img src="assets/images/top-grid-pic4.png" alt="" /></a>
						<a href="#"><span>ruby on rails</span></a>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporUt enim ad minim veniam</p>
					</div>
			
					<div class="clear"> </div>
				</div>
			<!---End-top-grids---->
			</div>
			<!---start-recent-works----->
			<div class="recent-works" id="portfolio">
				<div class="wrap">
				<div class="recent-works-head">
					<h3>Recent works</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporUt enim ad minim veniam</p>
				</div>
				<!---start-mfp ---->	
			<div id="small-dialog1" class="mfp-hide">
				<div class="pop_up">
					<h2>Yours text place Here</h2>
					<p class="para">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</p>
				</div>
			</div>
			<!---end-mfp ---->
				<div class="gallery">
					<div class="clear"> </div>
					<div class="container">
					<ul id="filters" class="clearfix">
						<li><span class="filter active" data-filter="app card icon logo web">전체</span></li>
						<li><span class="filter" data-filter="app web">???</span></li>
						<li><span class="filter" data-filter="icon web card">동아리 활동</span></li>
						<li><span class="filter" data-filter="web app icon card">멋사 활동</span></li>
						<li><span class="filter" data-filter="icon app web logo">페이스북</span></li>
					</ul>
						<div id="portfoliolist" style="     ">
						<div class="portfolio logo1 mix_all" data-cat="logo" style=" ">
							<div class="portfolio-wrapper">				
								<a class="popup-with-zoom-anim" href="#small-dialog1">
									<img src="assets/images/p1.jpg" alt="Image 2" style="top: 0px;">
								</a>
								<div class="label" style="bottom: -40px;">
									<div class="label-text">
										<a class="text-title">Bird Document</a>
										<span class="text-category">Logo</span>
									</div>
									<div class="label-bg"></div>
								</div>
							</div>
						</div>				
						<div class="portfolio app mix_all" data-cat="app" style="  display: inline-block; opacity: 1;">
							<div class="portfolio-wrapper">			
								<a class="popup-with-zoom-anim" href="#small-dialog1">
									<img src="assets/images/p2.jpg" alt="Image 2" style="top: 0px;">
								</a>
								<div class="label" style="bottom: -40px;">
									<div class="label-text">
										<a class="text-title">Visual Infography</a>
										<span class="text-category">APP</span>
									</div>
									<div class="label-bg"></div>
								</div>
							</div>
						</div>		
						<div class="portfolio web mix_all" data-cat="web" style="  display: inline-block; opacity: 1;">
							<div class="portfolio-wrapper">						
								<a class="popup-with-zoom-anim" href="#small-dialog1">
									<img src="assets/images/p3.jpg" alt="Image 2" style="top: 0px;">
								</a>
								<div class="label" style="bottom: -40px;">
									<div class="label-text">
										<a class="text-title">Sonor's Design</a>
										<span class="text-category">Web design</span>
									</div>
									<div class="label-bg"></div>
								</div>
							</div>
						</div>				
						<div class="portfolio card mix_all" data-cat="card" style="  display: inline-block; opacity: 1;">
							<div class="portfolio-wrapper">			
								<a class="popup-with-zoom-anim" href="#small-dialog1">
									<img src="assets/images/p4.jpg" alt="Image 2" style="top: 0px;">
								</a>
								<div class="label" style="bottom: -40px;">
									<div class="label-text">
										<a class="text-title">Typography Company</a>
										<span class="text-category">Business card</span>
									</div>
									<div class="label-bg"></div>
								</div>
							</div>
						</div>	
									
						<div class="portfolio app mix_all" data-cat="app" style="  display: inline-block; opacity: 1;">
							<div class="portfolio-wrapper">
								<a class="popup-with-zoom-anim" href="#small-dialog1">
									<img src="assets/images/p5.jpg" alt="Image 2" style="top: 0px;">
								</a>
								<div class="label" style="bottom: -40px;">
									<div class="label-text">
										<a class="text-title">Weatherette</a>
										<span class="text-category">APP</span>
									</div>
									<div class="label-bg"></div>
								</div>
							</div>
						</div>			
						
						<div class="portfolio card mix_all" data-cat="card" style="  display: inline-block; opacity: 1;">
							<div class="portfolio-wrapper">			
								<a class="popup-with-zoom-anim" href="#small-dialog1">
									<img src="assets/images/p6.jpg" alt="Image 2" style="top: 0px;">
								</a>
								<div class="label" style="bottom: -40px;">
									<div class="label-text">
										<a class="text-title">BMF</a>
										<span class="text-category">Business card</span>
									</div>
									<div class="label-bg"></div>
								</div>
							</div>
						</div>	
					</div>
				</div><!-- container -->
				<a class="morebtn popup-with-zoom-anim" href="#small-dialog1">Show More</a>
				<div class="clear"> </div>
				<script type="text/javascript" src="assets/js/fliplightbox.min.js"></script>
				<script type="text/javascript">$('body').flipLightBox()</script>
				<!---start-gallery-script----->
					<script type="text/javascript" src="assets/js/jquery.easing.min.js"></script>	
					<script type="text/javascript" src="assets/js/jquery.mixitup.min.js"></script>
					<script type="text/javascript">
					$(function () {
						
						var filterList = {
						
							init: function () {
							
								// MixItUp plugin
								// http://mixitup.io
								$('#portfoliolist').mixitup({
									targetSelector: '.portfolio',
									filterSelector: '.filter',
									effects: ['fade'],
									easing: 'snap',
									// call the hover effect
									onMixEnd: filterList.hoverEffect()
								});				
							
							},
							
							hoverEffect: function () {
							
								// Simple parallax effect
								$('#portfoliolist .portfolio').hover(
									function () {
										$(this).find('.label').stop().animate({bottom: 0}, 200, 'easeOutQuad');
										$(this).find('img').stop().animate({top: -30}, 500, 'easeOutQuad');				
									},
									function () {
										$(this).find('.label').stop().animate({bottom: -40}, 200, 'easeInQuad');
										$(this).find('img').stop().animate({top: 0}, 300, 'easeOutQuad');								
									}		
								);				
							}
						};
						// Run the show!
						filterList.init();
					});	
					</script>
					<!-- Add fancyBox main JS and CSS files -->
					<script src="assets/js/jquery.magnific-popup.js" type="text/javascript"></script>
					<link href="assets/css/magnific-popup.css" rel="stylesheet" type="text/css">
							<script>
								$(document).ready(function() {
									$('.popup-with-zoom-anim').magnificPopup({
										type: 'inline',
										fixedContentPos: false,
										fixedBgPos: true,
										overflowY: 'auto',
										closeBtnInside: true,
										preloader: false,
										midClick: true,
										removalDelay: 300,
										mainClass: 'my-mfp-zoom-in'
								});
							});
							</script>
				<!---//End-gallery-script----->
				<div class="clear"> </div>
				</div>
			</div>
			</div>
			<!---End-recent-works----->
			<!--- start-blog----->
			<!--<div class="blog">-->
			<!--	<div class="wrap">-->
			<!--		<div class="blog-grids">-->
			<!--			<div class="blog-grid blog-grid1">-->
			<!--				<div class="blog-grid-left" onclick="location.href='#';">-->
			<!--					<span> </span>-->
			<!--				</div>-->
			<!--				<div class="blog-grid-right">-->
			<!--					<h3><a href="#">Layered Neatly Photoshop Template</a></h3>-->
			<!--					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est. Mauris faucibus tellus ac auctor posuere. Integer lobortis purus a felis adipiscing, eget ornare justo semper. Etiam commodo tincidunt ante.</p>-->
			<!--					<a class="blogbtng popup-with-zoom-anim" href="#small-dialog1">Show More</a>-->
			<!--				</div>-->
			<!--				<div class="clear"> </div>-->
			<!--			</div>-->
						<!----->
			<!--			<div class="blog-grid2">-->
			<!--				<div class="blog-grid2-left">-->
			<!--					<h3><a href="#">Layered Neatly Photoshop Template</a></h3>-->
			<!--					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est. Mauris faucibus tellus ac auctor posuere. Integer lobortis purus a felis adipiscing, eget ornare justo semper. Etiam commodo tincidunt ante.</p>-->
			<!--					<a class="blogbtnb popup-with-zoom-anim" href="#small-dialog1">Show More</a>-->
			<!--				</div>-->
			<!--				<div class="blog-grid2-right" onclick="location.href='#';">-->
			<!--					<span> </span>-->
			<!--				</div>-->
			<!--				<div class="clear"> </div>-->
			<!--			</div>-->
						<!----->
			<!--			<div class="clear"> </div>-->
			<!--		 </div>-->
			<!--	</div>-->
			<!--</div>-->
			<!--- End-blog----->
			<!---start-meet-our-team---->
			<div class="team" id="team">
				<div class="wrap">
					<div class="team-head">
						<h3>Members</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est. Mauris faucibus tellus ac auctor posuere.</p>
					</div>
					<div class="team-members">
						<div class="team-member">
							<span><a href="#"> </a></span>
							<h4><a href="#">간석현</a></h4>
						   <label>미디어 소프트웨어 학과</label>
							
							<ul>
								<li>
									<li><a class="facebook simptip-position-bottom simptip-movable" data-tooltip="Facebook" href="#"> </a></li>
									<div class="clear"> </div>
								</li>
							</ul>
						</div>
						<div class="team-member">
							<span><a href="#"> </a></span>
							<h4><a href="#">강성민</a></h4>
						   <label>컴퓨터공학과</label>
							
							<ul>
								<li>
									<li><a class="facebook simptip-position-bottom simptip-movable" data-tooltip="Facebook" href="#"> </a></li>
									<div class="clear"> </div>
								</li>
							</ul>
						</div>
						<div class="team-member">
							<span><a href="#"> </a></span>
							<h4><a href="#">김민호</a></h4>
						   <label>한국교통대학교</label>
							
							<ul>
								<li>
									<li><a class="facebook simptip-position-bottom simptip-movable" data-tooltip="Facebook" href="#"> </a></li>
									<div class="clear"> </div>
								</li>
							</ul>
						</div>
						<div class="team-member">
							<span><a href="#"> </a></span>
							<h4><a href="#">김현준</a></h4>
						   <label>산업경영공학부</label>
							
							<ul>
								<li>
									<li><a class="facebook simptip-position-bottom simptip-movable" data-tooltip="Facebook" href="#"> </a></li>
									<div class="clear"> </div>
								</li>
							</ul>
						</div>
							<div class="team-member">
							<span><a href="#"> </a></span>
							<h4><a href="#">박영조</a></h4>
						   <label>대장님</label>
							
							<ul>
								<li>
									<li><a class="facebook simptip-position-bottom simptip-movable" data-tooltip="Facebook" href="#"> </a></li>
									<div class="clear"> </div>
								</li>
							</ul>
						</div>
							<div class="team-member">
							<span><a href="#"> </a></span>
							<h4><a href="#">나상경</a></h4>
						   <label>컴퓨터공학과</label>
							
							<ul>
								<li>
									<li><a class="facebook simptip-position-bottom simptip-movable" data-tooltip="Facebook" href="#"> </a></li>
									<div class="clear"> </div>
								</li>
							</ul>
						</div>
							<div class="team-member">
							<span><a href="#"> </a></span>
							<h4><a href="#">문선영</a></h4>
						   <label>산업경영공학부</label>
							
							<ul>
								<li>
									<li><a class="facebook simptip-position-bottom simptip-movable" data-tooltip="Facebook" href="#"> </a></li>
									<div class="clear"> </div>
								</li>
							</ul>
						</div>
							<div class="team-member">
							<span><a href="#"> </a></span>
							<h4><a href="#">송유진</a></h4>
						   <label>미디어 소프트웨어 학과</label>
							
							<ul>
								<li>
									<li><a class="facebook simptip-position-bottom simptip-movable" data-tooltip="Facebook" href="#"> </a></li>
									<div class="clear"> </div>
								</li>
							</ul>
						</div>
							<div class="team-member">
							<span><a href="#"> </a></span>
							<h4><a href="#">허혜웅</a></h4>
						   <label>컴퓨터공학과</label>
							
							<ul>
								<li>
									<li><a class="facebook simptip-position-bottom simptip-movable" data-tooltip="Facebook" href="#"> </a></li>
									<div class="clear"> </div>
								</li>
							</ul>
						</div>
							
						<div class="clear"> </div>
						<div class="clear"> </div>
					</div>
				</div>
			</div>
			<!---//End-meet-our-team---->
			<!--- start-recent-posts----->
			<div class="recent-posts" id="blog">
				<div class="wrap">
				<div class="recent-posts-head">
					<h3>Recent Posts</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est. Mauris faucibus tellus ac auctor posuere.</p>	
				</div>
				<div class="post-grids">
					<div class="post-grid">
						<span onclick="location.href='#';"><a href="#"> </a></span>
						<h4><a href="#">Really Interesting Post</a></h4>
						<label>October 27</label>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est.</p>
					</div>
					<div class="post-grid">
						<span onclick="location.href='#';"><a href="#"> </a></span>
						<h4><a href="#">Really Interesting Post</a></h4>
						<label>October 27</label>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est.</p>
					</div>
					<div class="post-grid">
						<span onclick="location.href='#';"><a href="#"> </a></span>
						<h4><a href="#">Really Interesting Post</a></h4>
						<label>October 27</label>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est.</p>
					</div>
					<div class="clear"> </div>
					<a class="morebtn popup-with-zoom-anim" href="#small-dialog1">Show More</a>
				</div>
				</div>
			</div>
			<!--- //End-recent-posts----->
			<!---start-contact---->
			<!--<div class="contact" id="contact">-->
			<!--	<div class="wrap">-->
			<!--	<div class="contact-head">-->
			<!--		<h3>Contact us</h3>-->
			<!--		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est. Mauris faucibus tellus ac auctor posuere.</p>	-->
			<!--	</div>-->
			<!--	<div class="contatct-form">-->
			<!--		<form>-->
			<!--			<input type="text" value="Name :" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name :';}">-->
			<!--			<input type="text" value="Email :" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email :';}">-->
			<!--			<textarea rows="2" cols="70" onfocus="if(this.value == 'Message :') this.value='';" onblur="if(this.value == '') this.value='Message :';" >Message :</textarea>-->
			<!--			<input type="submit" value="Send" />-->
			<!--		</form>-->
			<!--	</div>-->
			<!--</div>-->
			<!--</div>-->
			<!---End-contact---->
		</div>
		<!---End-content---->
		<!----start-footer---->
		<div class="footer">
			<div class="wrap">
				<div class="footer-grids">
					<div class="footer-left">
						<ul>
							<li><a class="ftwiter" href="#"> </a></li>
							<li><a class="fface" href="#"> </a></li>
							<li><a class="fhtml" href="#"> </a></li>
							<li><a class="fflick" href="#"> </a></li>
							<div class="clear"> </div>
						</ul>
					</div>
					<div class="footer-right">
						<p>Template by <a href="http://w3layouts.com/">W3layouts</a></p>
									<script type="text/javascript">
						$(document).ready(function() {
							$().UItoTop({ easingType: 'easeOutQuart' });
						});
					</script>
					<!----move-top-path---->
					<script type="text/javascript" src="assets/js/move-top.js"></script>
					<script type="text/javascript" src="assets/js/easing.js"></script>
					<script type="text/javascript">
						jQuery(document).ready(function($) {
							$(".scroll").click(function(event){		
								event.preventDefault();
								$('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
							});
						});
					</script>
					<!----move-top-path---->
			    <a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"></span></a>

					</div>
					<div class="clear"> </div>
				</div>
			</div>
		</div>
		<!----//End-footer---->
		<!---End-wrap----->
		
	
	<script>
		$(document).ready(function() {
	$('#myCarousel').carousel({
	interval: 10000
	})
    
    $('#myCarousel').on('slid.bs.carousel', function() {
    	//alert("slid");
	});
   
});
	</script>
	
	<div class="container">
    <div class="col-md-12">
         <h1>Bootstrap 3 Thumbnail Slider</h1>

        <div class="well">
            <div id="myCarousel" class="carousel slide">
                
                <!-- Carousel items -->
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="row">
                            <div class="col-sm-3"><a href="#x"><img src="http://placehold.it/500x500" alt="Image" class="img-responsive"></a>
                            </div>
                            <div class="col-sm-3"><a href="#x"><img src="http://placehold.it/500x500" alt="Image" class="img-responsive"></a>
                            </div>
                            <div class="col-sm-3"><a href="#x"><img src="http://placehold.it/500x500" alt="Image" class="img-responsive"></a>
                            </div>
                            <div class="col-sm-3"><a href="#x"><img src="http://placehold.it/500x500" alt="Image" class="img-responsive"></a>
                            </div>
                        </div>
                        <!--/row-->
                    </div>
                    <!--/item-->
                    <div class="item">
                        <div class="row">
                            <div class="col-sm-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-responsive"></a>
                            </div>
                            <div class="col-sm-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-responsive"></a>
                            </div>
                            <div class="col-sm-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-responsive"></a>
                            </div>
                            <div class="col-sm-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-responsive"></a>
                            </div>
                        </div>
                        <!--/row-->
                    </div>
                    <!--/item-->
                    <div class="item">
                        <div class="row">
                            <div class="col-sm-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-responsive"></a>
                            </div>
                            <div class="col-sm-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-responsive"></a>
                            </div>
                            <div class="col-sm-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-responsive"></a>
                            </div>
                            <div class="col-sm-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-responsive"></a>
                            </div>
                        </div>
                        <!--/row-->
                    </div>
                    <!--/item-->
                </div>
                <!--/carousel-inner--> <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>

                <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
            </div>
            <!--/myCarousel-->
        </div>
        <!--/well-->
    </div>
</div>
